header {
 width: 100%;
 height: 60vh;
 background-color: #202020;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}

.pro-container {
 width: 60%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.pro-container .image {
 width: 100%;
 height: 60%;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.pro-container .image img {
 width: 30%;
 height: 100%;
 object-fit: cover;
 object-position: center center;
 border-radius: 5px;
}

.pro-container .name {
 width: 100%;
 height: 15%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
}

.pro-container .desc,
.pro-container .social-links {
 width: 100%;
 height: 10%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.pro-container .social-links {
 gap: 20px;
}

.pro-container .social-links a {
 font-size: 25px;
 color: #ccccccc5;
 transition: all 150ms ease-in-out;
}

.pro-container .social-links a:hover {
 transform: translateY(-2px);
 color: #fff;
}

@media only screen and (max-width: 500px) {
 header {
  height: 70vh;
 }
 .pro-container {
  width: 100%;
 }
 .pro-container .image img {
  width: 60%;
 }
}
