.project-container {
 width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 gap: 15px;
 align-items: center;
 flex-wrap: wrap;
 margin-top: 2%;
}

.project-container .project-box {
 width: 60vw;
 height: 40vh;
 background-color: #f4f4f4;
 box-shadow: 2px 2px 5px 2px rgba(87, 87, 87, 0.582);
}
